{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="page-title-head d-flex align-items-center">
    <div class="flex-grow-1">
        <h4 class="fs-sm text-uppercase fw-bold m-0">{{TITLE_PAGE}}</h4>
    </div>
</div>



<div class="row justify-content-center">
    <div class="col-xxl-12">
        <div data-table data-table-rows-per-page="8" class="card">
            <div class="card-header border-light justify-content-between">
                <div class="d-flex gap-2">
                    <div class="app-search">
                        <input data-table-search type="text" class="form-control" placeholder="Rechercher un client...">
                        <i data-lucide="search" class="app-search-icon text-muted"></i>
                    </div>

                    <button data-table-delete-selected class="btn btn-danger d-none">Delete</button>

                    <button data-bs-toggle="modal" data-bs-target="#modal-new-client" class="btn btn-purple"><i class="ti ti-plus fs-lg"></i> Nouveau</button>
                </div>

                <div class="d-flex align-items-center gap-2">
                    <span class="me-2 fw-semibold">Filtrer par:</span>

                    <!-- Country Filter -->
                    <div class="app-search">
                        <select data-table-filter="country" class="form-select form-control my-1 my-md-0">
                            <option value="All">Country</option>
                            <option value="US">USA</option>
                            <option value="UK">UK</option>
                            <option value="AU">Australia</option>
                            <option value="DE">Germany</option>
                            <option value="IN">India</option>
                        </select>
                        <i data-lucide="globe" class="app-search-icon text-muted"></i>
                    </div>

                    <!-- Project Type Filter -->
                    <div class="app-search">
                        <select data-table-filter="type" class="form-select form-control my-1 my-md-0">
                            <option value="All">Project Type</option>
                            <option value="Project">Project</option>
                            <option value="Contract">Contract</option>
                            <option value="Retainer">Retainer</option>
                            <option value="Dashboard">Dashboard</option>
                        </select>
                        <i data-lucide="layout" class="app-search-icon text-muted"></i>
                    </div>

                    <!-- Records Per Page -->
                    <div>
                        <select data-table-set-rows-per-page class="form-select form-control my-1 my-md-0">
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="table-responsive">
                <table class="table table-custom table-centered table-select table-hover w-100 mb-0">
                    <thead class="bg-light bg-opacity-25 thead-sm">
                        <tr class="text-uppercase fs-xxs">
                            <th data-table-sort="name">Nom & Prénoms</th>
                            <th data-table-sort>Contacts</th>
                            <th data-table-sort>Enregistré le</th>
                            <th data-table-sort data-column="type">Type</th>
                            <th data-table-sort>Job Title</th>
                            <th data-table-sort>Status</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead><!-- end table-head -->
                    <tbody>
                        {% for client in clients %}
                        <tr>
                            <td>
                                <div class="d-flex justify-content-start align-items-center gap-2">
                                    <div class="avatar avatar-sm">
                                        <img src="{% static 'dist/images/clients/default.jpg' %}" alt="avatar-7" class="img-fluid rounded-circle">
                                    </div>
                                    <div>
                                        <h5 class="text-nowrap mb-0 lh-base fs-base"><a data-sort="name" href="{% url 'MainApp:client' %}" class="link-reset">{{ client.nom }} {{ client.prenoms }}</a></h5>
                                        <p class="text-muted fs-xs mb-0">{{client.type_client}}</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                {{client.telephone}}
                                <p class="text-muted fs-xs mb-0">{{client.email}}</p>
                            </td>
                            <td>{{client.created_at|date:"d/m/Y"}}</td>
                            <td>{{client.profession}}</td>
                            <td>{{client.agence}}</td>
                            <td>
                                
                                <span class="badge bg-success-subtle text-success badge-label">Active</span>
                            </td>
                            <td>
                                <div class="d-flex align-items-center justify-content-center gap-1">
                                    <a href="{% url 'MainApp:client' %}" class="btn btn-light btn-icon btn-sm rounded-circle"><i class="ti ti-eye fs-lg"></i></a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody><!-- end table-body -->
                </table><!-- end table -->
            </div>
            <div class="card-footer border-0">
                <div class="d-flex justify-content-between align-items-center">
                    <div data-table-pagination-info="clients"></div>

                    <div data-table-pagination></div>
                </div>
            </div>
        </div>
    </div><!-- end col -->
</div><!-- end row -->



<div class="modal fade" id="modal-new-client" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="mySmallModalLabel">Small modal</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
             <div class="modal-body">
                Show a second modal and hide this one with the button below.
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Open second modal</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}