{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">

    <div class="page-title-head d-flex align-items-center">
        <div class="flex-grow-1">
            <h4 class="fs-sm text-uppercase fw-bold m-0">{{TITLE_PAGE}}</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <article class="card border-top-0">

                <!-- Card Body -->
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex justify-content-start align-items-center gap-3">
                            <div class="avatar avatar-xxl">
                                <img src="{% static 'dist/images/clients/default.jpg' %}" alt="avatar-2"
                                    class="img-fluid img-thumbnail rounded-circle">
                            </div>
                            <div>
                                <h1 class="text-nowrap fw-bold mb-1"> {{client}} </h1>
                                <h4 class="text-muted mb-1">{{client.numero}}</h4>
                                <span
                                    class="badge badge-soft-primary fw-medium ms-2 fs-xs ms-auto">{{client.employe}}</span>
                            </div>
                        </div>
                        <div class="d-flex gap-2">
                            <button data-bs-toggle="modal" data-bs-target="#modal-new-pret" class="btn btn-primary"><i
                                    class="ti ti-calendar-dollar fs-lg"></i> Demander un prêt</button>
                            <button data-bs-toggle="modal" data-bs-target="#modal-new-epargne" class="btn btn-purple"><i
                                    class="ti ti-coins fs-lg"></i> Nouveau compte épargne</button>
                        </div>
                    </div>
                </div>
            </article>
        </div> <!-- end col-->
    </div> <!-- end row-->

    <div class="row">
        <div class="col-xl-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Informations personnelles</h4>
                </div>
                <div class="card-body">
                    <div class="">
                        <div class="d-flex align-items-center gap-2 mb-2">
                            <div class="avatar-sm bg-light d-flex align-items-center justify-content-center rounded">
                                <i class="ti ti-school fs-xl text-secondary"></i>
                            </div>
                            <p class="mb-0 fs-sm"><span class="text-dark fw-semibold">{{client.type_client}} |
                                    {{client.profession}}</span>
                            </p>
                        </div>
                        {% if client.genre %}
                        <div class="d-flex align-items-center gap-2 mb-2">
                            <div class="avatar-sm bg-light d-flex align-items-center justify-content-center rounded">
                                <i class="ti ti-gender-bigender fs-xl text-secondary"></i>
                            </div>
                            <p class="mb-0 fs-sm">{{client.genre}}</p>
                        </div>
                        {% endif %}
                        <div class="d-flex align-items-center gap-2 mb-2">
                            <div class="avatar-sm bg-light d-flex align-items-center justify-content-center rounded">
                                <i class="ti ti-calendar fs-xl text-secondary"></i>
                            </div>
                            <p class="mb-0 fs-sm">Né le <span
                                    class="text-dark fw-semibold">{{client.date_naissance|date:"d/m/Y"}}</span></p>
                        </div>
                        <div class="d-flex align-items-center gap-2 mb-2">
                            <div class="avatar-sm bg-light d-flex align-items-center justify-content-center rounded">
                                <i class="ti ti-map-pin fs-xl text-secondary"></i>
                            </div>
                            <p class="mb-0 fs-sm"> <span class="text-dark fw-semibold">{{client.adresse}}</span></p>
                        </div>
                        <div class="d-flex align-items-center gap-2 mb-2">
                            <div class="avatar-sm bg-light d-flex align-items-center justify-content-center rounded">
                                <i class="ti ti-mail fs-xl text-secondary"></i>
                            </div>
                            <p class="mb-0 fs-sm">Email <a href="mailto:{{client.email}}"
                                    class="text-primary fw-semibold">{{client.email}}</a>
                            </p>
                        </div>
                        <div class="d-flex align-items-center gap-2 mb-2">
                            <div class="avatar-sm bg-light d-flex align-items-center justify-content-center rounded">
                                <i class="ti ti-phone fs-xl text-secondary"></i>
                            </div>
                            <p class="mb-0 fs-sm">Téléphone <a href="tel://{{client.telephone}}"
                                    class="text-primary fw-semibold">{{client.telephone}}</a>
                            </p>
                        </div>
                        <div class="d-flex align-items-center gap-2 mb-2">
                            <div class="avatar-sm bg-light d-flex align-items-center justify-content-center rounded">
                                <i class="ti ti-users fs-xl text-secondary"></i>
                            </div>
                            <p class="mb-0 fs-sm">Enregistré le <span
                                    class="text-dark fw-semibold">{{client.created_at|date:"d/m/Y à H:i"}}</span></p>
                        </div>
                    </div>
                    <!---->
                </div>

                <div class="card-footer bg-transparent d-flex justify-content-end gap-2">
                    <button data-bs-toggle="modal" data-bs-target="#modal-new-client" class="btn btn-purple"><i
                            class="ti ti-edit fs-lg"></i> Modifie les infos</button>
                    <button onclick="delete_password('Client','{{client.id}}')" class="btn btn-danger"><i
                            class="ti ti-ban fs-lg"></i></button>
                </div>
            </div> <!-- end card-->

        </div> <!-- end col-->

        <div class="col-xl-8">
            <div class="row align-items-center">
                {% for pret in prets %}
                    <div class="col-6">
                        <div class="card ">
                            <div class="card-body">
                                <a href="{% url 'FinanceApp:pret' pret.id %}" data-table-delete-row
                                    class="btn btn-light btn-icon btn-sm rounded-circle text-muted float-end mt-n1 fs-md">
                                    <i class="ti ti-eye "></i></a>
                                <h5 title="Revenue Generated">
                                    <span class="{% if pret.status.etiquette == '0' %}text-warning{% else %}text-primary{% endif %}">{{pret.numero}}</span>
                                    <span class="badge badge-label text-bg-{{pret.status.classe}}">{{pret.status}}</span>
                                </h5>
                                <div class="d-flex align-items-center gap-2 my-3">
                                    <div class="avatar-md flex-shrink-0">
                                        <span class="avatar-title {% if pret.status.etiquette == '0' %}text-bg-warning{% else %}text-bg-primary{% endif %} rounded-circle fs-22">
                                            <i class="ti ti-calendar-dollar"></i>
                                        </span>
                                    </div>
                                    <h3 class="mb-0">{{pret.base|floatformat:0}} Fcfa</h3>
                                    <span class="badge {% if pret.status.etiquette == '0' %}badge-soft-warning{% else %}badge-soft-primary{% endif %} fw-medium ms-2 fs-xs ms-auto">+
                                        {{pret.taux|floatformat:2}}%</span>
                                </div>
                                <p class="mb-0">
                                    <span class="{% if pret.status.etiquette == '0' %}text-warning{% else %}text-primary{% endif %}"><i class="ti ti-point-filled"></i></span>
                                    {% if pret.status.etiquette != '0' %}
                                    <span class="text-nowrap text-muted">Reste à payer</span>
                                    <span class="float-end"><b>{{pret.reste_a_payer|floatformat:2}} Fcfa</b></span>
                                    {% endif %}
                                </p>
                            </div>

                        </div>
                    </div>
                {% endfor %}

                {% for epargne in epargnes %}
                    <div class="col-6">
                        <div class="card">
                            <div class="card-body">
                                <a href="{% url 'FinanceApp:epargne' epargne.id %}" data-table-delete-row
                                    class="btn btn-light btn-icon btn-sm rounded-circle text-muted float-end mt-n1 fs-md">
                                    <i class="ti ti-eye "></i></a>
                                <h5 title="Revenue Generated"><span class="text-purple">{{epargne.numero}}</span>
                                </h5>
                                <div class="d-flex align-items-center gap-2 my-3">
                                    <div class="avatar-md flex-shrink-0">
                                        <span class="avatar-title text-bg-purple rounded-circle fs-22">
                                            <i class="ti ti-coins"></i>
                                        </span>
                                    </div>
                                    <h3 class="mb-0">{{epargne.solde_actuel|floatformat:2}} Fcfa</h3>
                                    <span class="badge badge-soft-primary fw-medium ms-2 fs-xs ms-auto">+
                                        {{epargne.taux|floatformat:2}}%</span>
                                </div>
                                <p class="mb-0 d-flex justify-content-end">
                                    <span class="text-nowrap text-muted">Dernière opération le <span
                                            class="text-purple">{{epargne.update_at|date:"d/m/Y à H:i"}}</span></span>
                                </p>
                            </div>

                        </div>
                    </div>
                {% endfor %}

            </div><!-- end row -->

            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Liste des dernieres opérations</h4>
                </div> <!-- end card-header-->

                <div class="card-body p-0">
                    <div class="">
                        <table class="table table-custom table-centered table-select table-hover w-100 mb-0">
                            <thead class="bg-light align-middle bg-opacity-25 thead-sm">
                                <tr class="text-uppercase fs-xxs">
                                    <th>ID</th>
                                    <th data-table-sort>Montant</th>
                                    <th data-table-sort data-column="status">Compte affilié</th>
                                    <th data-table-sort>Effectué par</th>
                                </tr>
                            </thead><!-- end table-head -->
                            <tbody>
                                {% for transaction in transactions %}
                                <tr>
                                    <td>
                                        <div class="d-flex justify-content-start align-items-center gap-2">
                                            <div class="avatar avatar-sm">
                                                {% if transaction.type_transaction.etiquette == "1" %}
                                                
                                                <a href="#"
                                                class="btn btn-light btn-icon btn-sm rounded-circle"><i class="ti ti-file-invoice fs-xxl text-success"></i></a>
                                                {% elif transaction.type_transaction.etiquette == "2" %}
                                                    <a href="#"
                                                class="btn btn-light btn-icon btn-sm rounded-circle"><i class="ti ti-file-invoice fs-xxl text-danger"></i></a>
                                                {% endif %}
                                            </div>
                                            <div>
                                                <h5 class="text-nowrap mb-0 lh-base fs-base"><a data-sort="name"
                                                        href="#"
                                                        class="link-reset">#{{transaction.numero}}</a></h5>
                                                <p class="text-muted fs-xs mb-0">{{transaction.created_at|date:"d/m/Y à H:i"}}</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>{{transaction.montant}} Fcfa</td>
                                    <td>
                                        {% if transaction.epargne %}
                                        <a href="{% url 'FinanceApp:epargne' transaction.epargne.id %}"
                                            class="text-purple label">Epargne N°{{transaction.epargne.numero}}</a>
                                        {% elif transaction.echeance %}
                                        <a href="{% url 'FinanceApp:pret' transaction.echeance.pret.id %}"
                                            class="text-primary label">Prêt N°{{transaction.echeance.pret.numero}}</a>
                                        {% endif %}
                                    </td>
                                    <td>{{transaction.employe}}</td>
                                </tr>
                                {% endfor %}

                            </tbody><!-- end table-body -->
                        </table><!-- end table -->
                    </div>
                </div> <!-- end card-body-->
            </div> <!-- end card-->

        </div>
    </div> <!-- end row-->

</div>
<!-- container -->

<div class="modal fade" id="modal-new-client" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-warning text-white">
                <h1 class="modal-title" id="mySmallModalLabel">Nouveau souscripteur</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            {% if client.type_client.id == particulier.id %}
            <form method="POST" class="formShamman" classname="ClientForm">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="col-sm-6">
                            <label class="form-label">Nom<span class="text-danger">*</span></label>
                            <div class="input-group">
                                <span class="input-group-text bg-light"><i
                                        class="ti ti-user text-muted fs-xl"></i></span>
                                <input type="text" class="form-control" name="nom" placeholder="Nom" required
                                    value="{{ client.nom }}">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label">Prenoms <span class="text-danger">*</span></label>
                            <div class="input-group">
                                <span class="input-group-text bg-light"><i
                                        class="ti ti-user text-muted fs-xl"></i></span>
                                <input type="text" class="form-control" name="prenoms" placeholder="Prenoms" required
                                    value="{{ client.prenoms }}">
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label">Genre <span class="text-danger">*</span></label>
                            <div class="input-group">
                                <span class="input-group-text bg-light"><i
                                        class="ti ti-gender-bigender text-muted fs-xl"></i></span>
                                <select name="genre" class="form-select form-control my-1 my-md-0" required>
                                    {% for genre in genres %}
                                    <option value="{{ genre.id }}"
                                        {% if client.genre.id == genre.id %}selected{% endif %}>{{ genre.libelle }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <label class="form-label">Date de naissance <span class="text-danger">*</span></label>
                            <div class="input-group">
                                <span class="input-group-text bg-light"><i
                                        class="ti ti-calendar text-muted fs-xl"></i></span>
                                <input type="date" class="form-control" name="date_naissance" placeholder="__/__/____"
                                    required value="{{ client.date_naissance }}">
                            </div>
                        </div>
                        <div class="col">
                            <label class="form-label">Profession<span class="text-danger">*</span></label>
                            <div class="input-group">
                                <span class="input-group-text bg-light"><i
                                        class="ti ti-briefcase text-muted fs-xl"></i></span>
                                <input type="text" class="form-control" name="profession" placeholder="Profession"
                                    required value="{{ client.profession }}">
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label">Adresse<span class="text-danger">*</span></label>
                            <div class="input-group">
                                <span class="input-group-text bg-light"><i
                                        class="ti ti-map text-muted fs-xl"></i></span>
                                <input type="text" class="form-control" name="adresse" placeholder="Lieu d'habitation"
                                    required value="{{ client.adresse }}">
                            </div>
                        </div>
                        <div class="col">
                            <label class="form-label">Téléphone <span class="text-danger">*</span></label>
                            <div class="input-group">
                                <span class="input-group-text bg-light"><i
                                        class="ti ti-phone text-muted fs-xl"></i></span>
                                <input type="text" class="form-control" name="telephone" placeholder="XX XX XX XX XX"
                                    required value="{{ client.telephone }}">
                            </div>
                        </div>
                        <div class="col">
                            <label class="form-label">Email </label>
                            <div class="input-group">
                                <span class="input-group-text bg-light"><i
                                        class="ti ti-mail text-muted fs-xl"></i></span>
                                <input type="email" class="form-control" name="email" placeholder="you@example.com"
                                    value="{{ client.email }}">
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="modal-footer d-flex justify-content-between">
                    <input type="hidden" name="id" value="{{ client.id }}">
                    <input type="hidden" name="numero" value="{{ client.numero }}">
                    <input type="hidden" name="agence" value="{{ client.agence.id }}">
                    <input type="hidden" name="employe" value="{{ client.employe.id }}">
                    <input type="hidden" name="type_client" value="{{ particulier.id }}">
                    <button type="button" class="btn btn-default dim pull-left" data-dismiss="modal">
                        <i class="ti ti-close"></i> Annuler
                    </button>
                    <button type="submit" class="btn btn-warning dim pull-right"> <i class="ti ti-check"></i>
                        Enregistrer le particulier </button>
                </div>
            </form>

            {% else %}
            <form method="POST" class="formShamman" classname="ClientForm">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="col-sm-6">
                            <label class="form-label">Raison sociale<span class="text-danger">*</span></label>
                            <div class="input-group">
                                <span class="input-group-text bg-light"><i
                                        class="ti ti-home text-muted fs-xl"></i></span>
                                <input type="text" class="form-control" name="nom" placeholder="Raison sociale" required
                                    value="{{ client.nom }}">
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label">Date de création <span class="text-danger">*</span></label>
                            <div class="input-group">
                                <span class="input-group-text bg-light"><i
                                        class="ti ti-calendar text-muted fs-xl"></i></span>
                                <input type="date" class="form-control" name="date_naissance" placeholder="__/__/____"
                                    required value="{{ client.date_naissance }}">
                            </div>
                        </div>
                        <div class="col">
                            <label class="form-label">Domaine d'activité <span class="text-danger">*</span></label>
                            <div class="input-group">
                                <span class="input-group-text bg-light"><i
                                        class="ti ti-briefcase text-muted fs-xl"></i></span>
                                <input type="text" class="form-control" name="profession"
                                    placeholder="Domaine d'activité" required value="{{ client.profession }}">
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label">Adresse <span class="text-danger">*</span></label>
                            <div class="input-group">
                                <span class="input-group-text bg-light"><i
                                        class="ti ti-map text-muted fs-xl"></i></span>
                                <input type="text" class="form-control" name="adresse" placeholder="Lieu d'habitation"
                                    required value="{{ client.adresse }}">
                            </div>
                        </div>
                        <div class="col">
                            <label class="form-label">Téléphone <span class="text-danger">*</span></label>
                            <div class="input-group">
                                <span class="input-group-text bg-light"><i
                                        class="ti ti-phone text-muted fs-xl"></i></span>
                                <input type="text" class="form-control" name="telephone" placeholder="XX XX XX XX XX"
                                    required value="{{ client.telephone }}">
                            </div>
                        </div>
                        <div class="col">
                            <label class="form-label">Email </label>
                            <div class="input-group">
                                <span class="input-group-text bg-light"><i
                                        class="ti ti-mail text-muted fs-xl"></i></span>
                                <input type="email" class="form-control" name="email" placeholder="you@example.com"
                                    value="{{ client.nom }}">
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="modal-footer d-flex justify-content-between">
                    <input type="hidden" name="id" value="{{ client.id }}">
                    <input type="hidden" name="numero" value="{{ client.numero }}">
                    <input type="hidden" name="agence" value="{{ client.agence.id }}">
                    <input type="hidden" name="employe" value="{{ client.employe.id }}">
                    <input type="hidden" name="type_client" value="{{ entreprise.id }}">
                    <button type="button" class="btn btn-default dim pull-left" data-dismiss="modal">
                        <i class="ti ti-close"></i> Annuler
                    </button>
                    <button type="submit" class="btn btn-warning dim pull-right"> <i class="ti ti-check"></i>
                        Enregistrer l'entreprise </button>
                </div>
            </form>
            {% endif %}
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="modal-new-pret" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h1 class="modal-title" id="mySmallModalLabel">Demande de prêt</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form method="POST" class="formShamman" classname="PretForm">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="col-sm-6">
                            <label class="form-label">Montant demandé<span class="text-danger">*</span></label>
                            <div class="input-group">
                                <span class="input-group-text bg-light"><i
                                        class="ti ti-coins text-muted fs-xl"></i></span>
                                <input type="text" class="form-control number" name="base" placeholder="Montant demandé"
                                    required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label">Taux d'intéret <span class="text-danger">*</span></label>
                            <div class="input-group">
                                <span class="input-group-text bg-light"><i
                                        class="ti ti-percentage text-muted fs-xl"></i></span>
                                <input type="text" class="form-control taux" name="taux" step="0.01"
                                    placeholder="2%" required>
                            </div>
                        </div>
                        
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Durée de remboursement <span class="text-danger">*</span></label>
                      <div class="row">
                        <div class="col">
                            <div class="input-group">
                                <span class="input-group-text bg-light"><i
                                        class="ti ti-number text-muted fs-xl"></i></span>
                                <input type="text" class="form-control taux" name="nombre_modalite"
                                    placeholder="15" required>
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group">
                                <span class="input-group-text bg-light"><i
                                        class="ti ti-calendar text-muted fs-xl"></i></span>
                                <select name="modalite" class="form-select form-control my-1 my-md-0" required>
                                    {% for modalite in modalites %}
                                    <option value="{{ modalite.id }}">Echéancier {{ modalite.libelle }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    </div>

                    <div class="">
                        <label class="form-label">Ajouter une note </label>
                        <div class="input-group">
                            <span class="input-group-text bg-light"><i class="ti ti-edit text-muted fs-xl"></i></span>
                            <textarea class="form-control" name="commentaire" rows="4" placeholder="note"></textarea>
                        </div>
                    </div>
                </div>
                <br>
                <div class="modal-footer d-flex justify-content-between">
                    <input type="hidden" name="client" value="{{ client.id }}">
                    <input type="hidden" name="employe" value="{{ client.employe.id }}">
                    <button type="button" class="btn btn-default dim pull-left" data-dismiss="modal">
                        <i class="ti ti-close"></i> Annuler
                    </button>
                    <button type="submit" class="btn btn-primary dim pull-right"> <i class="ti ti-check"></i>
                        Faire la demande </button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<div class="modal fade" id="modal-new-epargne" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-purple text-white">
                <h1 class="modal-title" id="mySmallModalLabel">Compte épargne</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form method="POST" class="formShamman" classname="CompteEpargneForm">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">Modalité d'intérêts <span class="text-danger">*</span></label>
                        <div class="input-group">
                            <span class="input-group-text bg-light"><i
                                    class="ti ti-calendar text-muted fs-xl"></i></span>
                            <select name="modalite" class="form-select form-control my-1 my-md-0" required>
                                {% for modalite in modalites %}
                                <option value="{{ modalite.id }}">Intérêt {{ modalite.libelle }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Taux d'intéret <span class="text-danger">*</span></label>
                        <div class="input-group">
                            <span class="input-group-text bg-light"><i
                                    class="ti ti-percentage text-muted fs-xl"></i></span>
                            <input type="text" class="form-control taux" name="taux" step="0.01" placeholder="2%"
                                required>
                        </div>
                    </div>

                    <div class=" mb-3">
                        <div class="">
                            <label class="form-label">Ajouter une note </label>
                            <div class="input-group">
                                <span class="input-group-text bg-light"><i
                                        class="ti ti-edit text-muted fs-xl"></i></span>
                                <textarea class="form-control" name="commentaire" rows="4"
                                    placeholder="note"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="modal-footer d-flex justify-content-between">
                    <input type="hidden" name="client" value="{{ client.id }}">
                    <input type="hidden" name="employe" value="{{ client.employe.id }}">
                    <button type="button" class="btn btn-default dim pull-left" data-dismiss="modal">
                        <i class="ti ti-close"></i> Annuler
                    </button>
                    <button type="submit" class="btn btn-purple dim pull-right"> <i class="ti ti-check"></i>
                        Ouvrir le compte </button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock  %}