{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">

    <div class="page-title-head d-flex align-items-center">
        <div class="flex-grow-1">
            <h4 class="fs-sm text-uppercase fw-bold m-0">{{TITLE_PAGE}}</h4>
        </div>
    </div>

    <div class="row row-cols-xxl-4 row-cols-md-2 row-cols-1">
        <!-- Total Sales Widget -->
        <div class="col">
            <div class="card">
                <div class="card-header d-flex border-dashed justify-content-between align-items-center">
                    <h5 class="card-title">Total prêts en cours</h5>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="avatar fs-60 avatar-img-size flex-shrink-0">
                            <span class="avatar-title text-bg-dark rounded-circle fs-32">
                                <i class="ti ti-calendar-dollar"></i>
                            </span>
                        </div>
                        <div class="text-end">
                            <h3 class="mb-2 fw-normal"><span data-target="{{prets|length}}">0</span></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end col -->

        <!-- Total Orders Widget -->
        <div class="col">
            <div class="card">
                <div class="card-header d-flex border-dashed justify-content-between align-items-center">
                    <h5 class="card-title">Total comptes épargnes</h5>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="avatar fs-60 avatar-img-size flex-shrink-0">
                            <span class="avatar-title text-bg-dark rounded-circle fs-32">
                                <i class="ti ti-coins"></i>
                            </span>
                        </div>
                        <div class="text-end">
                            <h3 class="mb-2 fw-normal"><span data-target="{{epargnes|length}}">0</span></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end col -->

        <!-- New Customers Widget -->
        <div class="col">
            <div class="card">
                <div class="card-header d-flex border-dashed justify-content-between align-items-center">
                    <h5 class="card-title">Total souscripteurs</h5>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="avatar fs-60 avatar-img-size flex-shrink-0">
                            <span class="avatar-title text-bg-dark rounded-circle fs-32">
                                <i class="ti ti-users"></i>
                            </span>
                        </div>
                        <div class="text-end">
                            <h3 class="mb-2 fw-normal"><span data-target="{{clients|length}}">0</span></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end col -->

        <!-- Monthly Revenue Widget -->
        <div class="col">
            <div class="card bg-danger bg-opacity-30">
                <div class="card-header d-flex border-dashed justify-content-between align-items-center">
                    <h5 class="card-title">Retards d'échéances</h5>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="avatar fs-60 avatar-img-size flex-shrink-0">
                            <span class="avatar-title text-bg-danger bg-opacity-90 rounded-circle fs-32">
                                <i class="ti ti-clock-dollar"></i>
                            </span>
                        </div>
                        <div class="text-end">
                            <h3 class="mb-2 fw-normal"><span data-target="{{echeances|length}}">0</span></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end col -->
    </div><!-- end row -->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header card-tabs d-flex align-items-center">
                    <div class="flex-grow-1">
                        <h4 class="card-title">Statistiques des opérations ce mois-ci</h4>
                    </div>
                    {% comment %} <ul class="nav nav-tabs nav-justified card-header-tabs nav-bordered">
                        <li class="nav-item">
                            <a href="#today-ct" data-bs-toggle="tab" aria-expanded="false" class="nav-link">
                                <i class="ti ti-home d-md-none d-block"></i>
                                <span class="d-none d-md-block">Aujourd'hui</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#monthly-ct" data-bs-toggle="tab" aria-expanded="true" class="nav-link active">
                                <i class="ti ti-user-circle d-md-none d-block"></i>
                                <span class="d-none d-md-block">Mois</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#annual-ct" data-bs-toggle="tab" aria-expanded="false" class="nav-link">
                                <i class="ti ti-settings d-md-none d-block"></i>
                                <span class="d-none d-md-block">Année</span>
                            </a>
                        </li>
                    </ul> {% endcomment %}
                </div>
                <div class="card-body p-0">
                    <div class="row g-0">
                        <div class="col-xxl-8 border-end border-dashed">
                            <div id="orders-chart" style="min-height: 405px;"></div>
                        </div><!-- end col -->
                        <div class="col-xxl-4">
                            {% if penalites|length > 0 %}
                                <div class="alert alert-warning alert-bordered border-start border-warning d-flex align-items-start gap-2">
                                    <i class="ti ti-info-circle fs-xxl"></i>
                                    <div><code>{{penalites|length}} pénalités</code> ont été générées aujourd'hui. </div>
                                </div>
                            {% endif %}
                            <div class="row row-cols-xxl-2 row-cols-md-2 row-cols-1 g-1 p-1">
                                <!-- Total Sales Widget -->
                                <div class="col">
                                    <div class="card rounded-0 border border-dashed mb-0">
                                        <div class="card-body">
                                            <div class="mb-3 d-flex justify-content-between align-items-center">
                                                <h5 class="fs-xl mb-0">{{remboursements_montant|floatformat:2}} <small>Fcfa</small></h5>
                                            </div>
                                            <p class="text-muted mb-2"><span>remboursés</span></p>
                                            <div class="progress progress-sm mb-0">
                                                <div class="progress-bar bg-secondary" role="progressbar"
                                                    style="width: 18.45%" aria-valuenow="18.45" aria-valuemin="0"
                                                    aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- end col -->

                                <!-- Number of Customers Widget -->
                                <div class="col">
                                    <div class="card rounded-0 border border-dashed mb-0">
                                        <div class="card-body">
                                            <div class="mb-3 d-flex justify-content-between align-items-center">
                                                <h5 class="fs-xl mb-0">{{echeances_montant|floatformat:2}} <small>Fcfa</small></h5>
                                                <span>{{echeances_count}}</span>
                                            </div>
                                            <p class="text-muted mb-2"><span>Retards d'échéances</span></p>
                                            <div class="progress progress-sm mb-0">
                                                <div class="progress-bar bg-secondary" role="progressbar"
                                                    style="width: 10.35%" aria-valuenow="10.35" aria-valuemin="0"
                                                    aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- end col -->


                                <!-- Average Order Value Widget -->
                                <div class="col">
                                    <div class="card rounded-0 border border-dashed mb-0">
                                        <div class="card-body">
                                            <div class="mb-3 d-flex justify-content-between align-items-center">
                                                <h5 class="fs-xl mb-0">{{penalites_montant|floatformat:2}} <small>Fcfa</small></h5>
                                                </h5>
                                                <span>{{penalites_count}}</span>
                                            </div>
                                            <p class="text-muted mb-2"><span>Pénalités ce mois</span></p>
                                            <div class="progress progress-sm mb-0">
                                                <div class="progress-bar bg-secondary" role="progressbar"
                                                    style="width: 5.92%" aria-valuenow="5.92" aria-valuemin="0"
                                                    aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- end col -->


                                <!-- Products Sold Widget -->
                                <div class="col">
                                    <div class="card rounded-0 border border-dashed mb-0">
                                        <div class="card-body">
                                            <div class="mb-3 d-flex justify-content-between align-items-center">
                                                <h5 class="fs-xl mb-0">{{depots_montant|floatformat:2}} <small>Fcfa</small></h5>
                                            </div>
                                            <p class="text-muted mb-2 text-truncate"><span>Dépots épargnes</span>
                                            </p>
                                            <div class="progress progress-sm mb-0">
                                                <div class="progress-bar bg-secondary" role="progressbar"
                                                    style="width: 22.61%" aria-valuenow="22.61" aria-valuemin="0"
                                                    aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- end col -->

                            </div><!-- end row -->

                            {% if not request.user.is_employe %}
                            <div class="text-center my-3">
                                <a href="{% url 'MainApp:rapports' %}"
                                    class="link-reset text-decoration-underline fw-semibold link-offset-3">
                                    Plus de statistiques <i class="ti ti-send-2"></i>
                                </a>
                            </div>
                            {% endif %}

                        </div> <!-- end col-->
                    </div> <!-- end row-->
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col-->
    </div> <!-- end row-->

</div>
{% endblock %}



{% block scripts %}
<script>
    {% include 'MainApp/dashboard.js' %}
</script>
{% endblock %}