[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-annoying = "*"
faker = "*"
djangorestframework-simplejwt = "*"
python-dateutil = "*"
django-mathfilters = "*"
django-crontab = "*"
pymysql = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
