{% extends "base.html" %}
{% load static %}
{% load mathfilters %}

{% block content %}
<div class="container-fluid">

    <div class="page-title-head d-flex align-items-center">
        <div class="flex-grow-1">
            <h4 class="fs-sm text-uppercase fw-bold m-0">{{TITLE_PAGE}}</h4>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-xxl-12">
            <div class="row">
                <div class="col-xl-9">
                    <div class="card">
                        <div class="card-body px-4">
                            <!-- Invoice Header -->
                            <div class="d-flex align-items-center justify-content-between mb-3 border-bottom pb-3">
                                <div class="auth-brand mb-0">
                                    <a href="#" class="logo-dark">
                                        <img src="{% static 'dist/images/site/logo.jpeg' %}" alt="dark logo"
                                            height="55">
                                    </a>
                                    <a href="#" class="logo-light">
                                        <img src="{% static 'dist/images/site/logo.jpeg' %}" alt="logo" height="55">
                                    </a>
                                </div>
                                <div class="text-end">
                                    <h3 class="fw-bold text-dark m-0 text-uppercase">Relévé de compte</h3>
                                    {% comment %} <p class="text-muted mb-0 fs-sm mb-2"> du
                                        {{debut|date:"d M Y"}} au {{fin|date:"d M Y"}}</p> {% endcomment %}
                                </div>
                            </div>

                            <!-- Invoice Info -->
                            <div class="row">
                                <!-- From -->
                                <div class="col-6">
                                    <p class="mb-1 fw-semibold">PRET N°{{pret.numero}}</p>
                                    <p class="text-muted mb-1 text-lowercase">avec intérêt de {{pret.taux}}% à échéance {{pret.modalite}}le</p>   
                                    <p class="text-muted mb-1">créé le {{pret.created_at|date:"d M Y à H:i:s"}}</p>
                                    <p class="text-muted mb-0">Gestionnaire : {{pret.employe}}</p>
                                </div>

                                <!-- To -->
                                <div class="col-6">
                                    <p class="mb-1 fw-semibold">{{pret.client}}</p>
                                    <p class="text-muted mb-1">{{pret.client.type_client}}</p>
                                    <p class="text-muted mb-0">{{pret.client.adresse}}</p>
                                </div>
                            </div>

                            <!-- Product Table -->
                            <div class="table-responsive mt-4">
                                <table class="table table-bordered table-nowrap text-center align-middle">
                                    <thead class="bg-light align-middle bg-opacity-25 thead-sm">
                                        <tr class="text-uppercase fs-xxs">
                                            <th class="text-start">Echéance</th>
                                            <th>Principal</th>
                                            <th>Pénalités</th>
                                            <th class="text-end">Total</th>
                                            <th class="text-end">Montant versé</th>
                                            <th class="text-end">Reste</th>
                                        </tr>
                                    </thead>
                                    <tbody class="fs-xxs">
                                        {% for echeance in echeances %}
                                            <tr>
                                                <td class="text-start">
                                                    <div class="d-flex ">
                                                        <div>
                                                            <strong>Echéance N°{{echeance.level}}</strong>
                                                            <div class="text-muted small">{{echeance.date_echeance|date:"d/m/Y"}}</div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>{{echeance.montant_a_payer}} Fcfa</td>
                                                <td>
                                                    <span class="text-danger fw-bold">({{echeance.penalites.count}}) {{echeance.penalites_montant}} Fcfa</span>
                                                </td>
                                                <td class="text-end">
                                                    {{echeance.total}} Fcfa</td>
                                                <td class="text-end bg-light-subtle border">
                                                    <div>
                                                            <strong> {{echeance.montant_paye}} Fcfa</strong>
                                                            <div class="text-muted small">{{echeance.transactions.last.created_at|date:"d/m/Y à H:i:s"}}</div>
                                                        </div>
                                                </td>
                                                <td class="text-end">{{echeance.montant_restant}} Fcfa</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                             <!-- Note -->
                            <div class="my-2 bg-light bg-opacity-50 rounded px-3 py-2">
                                <p class="mb-0 text-muted"><strong>Note:</strong> Reste encore {{reste}} échéances à recouvrir .</p>
                            </div>


                            <!-- Summary Table -->
                            <div class="d-flex justify-content-end">
                                <table class="table w-auto table-borderless text-end">
                                    <tbody>
                                        <tr>
                                            <td class="fw-medium">Montant de base</td>
                                            <td>{{pret.base|floatformat:2}} Fcfa</td>
                                        </tr>
                                        <tr>
                                            <td class="fw-medium">Interet de {{pret.taux|floatformat:2}}%</td>
                                            <td>{{pret.montant|sub:pret.base|floatformat:2}} Fcfa</td>
                                        </tr>
                                        <tr class="border-top pt-2 fs-5 fw-bold">
                                            <td>Total</td>
                                            <td>{{pret.montant|floatformat:2}} Fcfa</td>
                                        </tr>
                                        <tr>
                                            <td class="fw-medium text-danger">Pénalités ({{pret.penalites}})</td>
                                            <td class="text-danger">{{pret.penalites_montant|floatformat:2}} Fcfa</td>
                                        </tr>
                                        <tr class="border-top pt-2 fs-5 fw-bold">
                                            <td>Total à rembourser</td>
                                            <td class="fs-xl">{{pret.total|floatformat:2}} Fcfa</td>
                                        </tr>
                                        <tr>
                                            <td class="fw-medium text-primary">Total déja remboursé</td>
                                            <td class="fs-xxl fw-bold text-primary">{{pret.montant_rembourse|floatformat:2}} Fcfa</td>
                                        </tr>
                                        <tr class="border-top pt-2 fs-5 fw-bold">
                                            <td>Reste à payer</td>
                                            <td>{{pret.reste_a_payer|floatformat:2}} Fcfa</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!-- Note -->
                            <div class="mt-lg-4 mt-2 bg-light bg-opacity-50 rounded px-3 py-2">
                                <p class="mb-0 text-muted"><strong>Important:</strong> Pour toute question, contactez le support par
                                    email à <a href="mailto:assana.imprim@gmail.com"
                                        class="fw-medium">assana.imprim@gmail.com</a> ou par téléphone au 07 78 28 90 43.</p>
                            </div>

                            <!-- Footer -->
                            <div class="d-flex mt-4  justify-content-end">
                                <div class="mt-4 ">
                                    <p class="fw-semibold mb-0 ">Fait à Abidjan, Côte d'Ivoire</p>
                                    <p class="text-muted mb-0 text-center fs-xxs fst-italic">imprimé le
                                        {{now|date:"d/m/Y à H:i:s"}}</p>
                                    <p class="text-muted text-center fs-xxs fst-italic">par {{request.user}}</p>
                                    <!-- <h4 class="fst-italic">WebAppLayers</h4> -->
                                    <div style="height:50px"></div>
                                    <p class="text-muted text-center fs-xxs fst-italic">Signature autorisée</p>
                                </div>
                            </div>
                        </div>

                    </div> <!-- end card-->
                </div> <!-- end col-9-->

                <div class="col-xl-3 d-print-none">
                    <div class="card card-top-sticky">
                        <div class="card-body">
                            <div class="justify-content-center d-flex flex-column gap-2">
                                <a href="javascript:window.print()" class="btn btn-warning"><i
                                        class="ti ti-printer me-1"></i> Imprimer / Télécharger</a>
                            </div>
                        </div> <!-- end card-body-->
                    </div> <!-- end card-->
                </div> <!-- end col-9-->
            </div> <!-- end row-->
        </div> <!-- end col-10-->
    </div> <!-- end row-->

</div>
{% endblock %}