{% load static %}
<!DOCTYPE html>
<html lang="fr" data-topbar-color="gradient" data-menu-color="light">

<head>
    <meta charset="utf-8">
    <title>ASSANA CRED | {{TITLE_PAGE}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Inspinia is the #1 best-selling admin dashboard template on Wrapmarket. Perfect for building CRM, CMS, project management tools, and custom web apps with clean UI, responsive design, and powerful features.">
    <meta name="keywords" content="Inspinia, admin dashboard, Wrapmarket, Wrapbootstrap, HTML template, Bootstrap admin, CRM template, CMS template, responsive admin, web app UI, admin theme, best admin template">
    <meta name="author" content="WebAppLayers">

    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'dist/images/site/logo.jpeg' %}">

    <link rel="stylesheet" href="{% static 'dist/plugins/jsvectormap.min.css' %}">
    <!-- Theme Config Js -->
    <script src="{% static 'dist/js/config.js' %}"></script>
    <!-- Tabler Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css" />
    <!-- Vendor css -->
    <link href="{% static 'dist/css/vendors.min.css' %}" rel="stylesheet" type="text/css">

    <!-- App css -->
    <link href="{% static 'dist/css/app.min.css' %}" rel="stylesheet" type="text/css">


    <link href="{% static 'dist/plugins/alerty/alerty.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'dist/plugins/toastr/toastr.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'dist/plugins/sweetalert2/sweetalert2.min.css' %}" rel="stylesheet" type="text/css">

    {% block styles %}

    {% endblock %}
</head>

<body>
    {% block body %}
    <!-- Begin page -->
    <div class="wrapper">
        
        <!-- Sidenav Menu Start -->
        {% include 'sidebar.html' %}
        <!-- Sidenav Menu End -->

        <!-- Topbar Start -->
        {% include 'header.html' %}
        <!-- Topbar End -->

        

        <!-- ============================================================== -->
        <!-- Start Main Content -->
        <!-- ============================================================== -->

        

        <div class="content-page">
            {% block content %}

            {% endblock %}

            <!-- Footer Start -->
            <footer class="footer">
                 {% csrf_token %}
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start">
                            ©<script>document.write(new Date().getFullYear())</script> Tous droits reservés - par <span class="fw-semibold">RSTD</span> 
                        </div>
                        <div class="col-md-6">
                            <div class="text-md-end d-none d-md-block">
                                <span class="fw-bold">ASSANA Services</span> 
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- end Footer -->

        </div>

        <!-- ============================================================== -->
        <!-- End of Main Content -->
        <!-- ============================================================== -->

    </div>
    <!-- END wrapper -->
    {% endblock %}

   {% include 'hover.html' %}

   {% include "loader.html" %}

    <!-- Vendor js -->
    <script src="{% static 'dist/js/vendors.min.js' %}"></script>

    <!-- App js -->
    <script src="{% static 'dist/js/app.js' %}"></script>


    <!-- Custom table -->
    <script src="{% static 'dist/plugins/echarts.min.js' %}"></script>
    <script src="{% static 'dist/plugins/custom-table.js' %}"></script>


    <script src="{% static 'dist/shamman/general.js' %}"></script>
    <script src="{% static 'dist/shamman/alerter.js' %}"></script>
    <script src="{% static 'dist/shamman/traitement.js' %}"></script>
    <script src="{% static 'dist/shamman/loader.js' %}"></script>
    
    <script src="{% static 'dist/plugins/toastr/toastr.min.js' %}"></script>
    <script src="{% static 'dist/plugins/idle-timer/idle-timer.min.js' %}"></script>
    <script src="{% static 'dist/plugins/sweetalert2/sweetalert2.min.js' %}"></script>
   

    {% block scripts %}

    {% endblock %}

   
</body>

</html>