{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="page-title-head d-flex align-items-center">
    <div class="flex-grow-1">
        <h4 class="fs-sm text-uppercase fw-bold m-0">{{TITLE_PAGE}}</h4>
    </div>
</div>

<div class="container-fluid">
    
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header card-tabs d-flex align-items-center">
                    <div class="flex-grow-1">
                        <h4 class="card-title">Statistiques des opérations du {{start}} au {{end}}</h4>
                    </div>
                    <div class="position-relative" style="min-width: 300px;">
                        <div>
                            <div class="input-group">
                                <span class="input-group-text bg-light"><i
                                        class="ti ti-calendar text-muted fs-xl"></i></span>
                                <input type="text" class="form-control" name="dates"
                                    value="{{start|date:"d/m/Y"}} - {{end|date:"d/m/Y"}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div class="row g-0">
                        <div class="col-xxl-12 border-end border-dashed">
                            <div id="orders-chart" style="min-height: 405px;"></div>
                        </div><!-- end col -->
                    </div> <!-- end row-->
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col-->
    </div> <!-- end row-->

    <div class="row">
        <div class="col-xxl-4">
            <div class="card">
                <div class="card-header justify-content-between align-items-center">
                    <h5 class="card-title text-uppercase text-primary">Statistiques des prêts sur la période</h5>
                </div>
                <div class="card-body">
                    <div>
                        <div class="d-flex justify-content-between">
                            <h5 class="fs-base mb-2">Prêts octroyés</h5>
                            <div>
                                <span>{{new_comptes_pret}} prêts</span>
                            </div>
                        </div>
                    </div>
                    <div class="mt-2">
                        <div class="d-flex justify-content-between">
                            <h5 class="fs-base mb-2">Total octroyés</h5>
                            <div>
                                <span>{{total_montant_pret}} Fcfa</span>
                            </div>
                        </div>
                    </div>
                    <div class="mt-2">
                        <div class="d-flex text-success justify-content-between">
                            <h5 class="fs-base mb-2">Récouvrements </h5>
                            <div>
                                <span>{{total_recouvrements}} Fcfa</span>
                            </div>
                        </div>
                    </div>
                    <div class="mt-2">
                        <div class="d-flex justify-content-between text-danger">
                            <h5 class="fs-base mb-2">Pénalités générés</h5>
                            <div>
                                <span>{{total_penalites}} Fcfa</span>
                            </div>
                        </div>
                    </div>
                    <div class="mt-2">
                        <div class="d-flex justify-content-between">
                            <h5 class="fs-base mb-2">Bénéfices prévisionnels</h5>
                            <div>
                                <span>{{total_beneficies_pret_previsionnels}} Fcfa</span>
                            </div>
                        </div>
                    </div>

                    <div class="mt-2">
                        <div class="d-flex justify-content-between">
                            <h5 class="fs-base mb-2">Bénéfices réels</h5>
                            <div>
                                <span>{{total_beneficies_pret}} Fcfa</span>
                            </div>
                        </div>
                    </div>
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end card-->
        <div class="col-xxl-4">
            <div class="card">
                <div class="card-header justify-content-between align-items-center">
                    <h5 class="card-title text-uppercase text-success">Statistiques Fidelis sur la période</h5>
                </div>
                <div class="card-body">
                    <div>
                        <div class="d-flex justify-content-between">
                            <h5 class="fs-base mb-2">Nouveaux comptes</h5>
                            <div>
                                <span>{{new_comptes_fidelis}} comptes</span>
                            </div>
                        </div>
                    </div>

                    <div class="mt-2">
                        <div class="d-flex text-success justify-content-between">
                            <h5 class="fs-base mb-2">Dépôts</h5>
                            <div>
                                <span class="text-success">{{total_depots_fidelis}} Fcfa</span>
                            </div>
                        </div>
                    </div>

                    <div class="mt-2">
                        <div class="d-flex text-danger justify-content-between">
                            <h5 class="fs-base mb-2"> Retraits</h5>
                            <div>
                                <span class="">{{total_retraits_fidelis}} Fcfa</span>
                            </div>
                        </div>
                    </div>

                    <div class="mt-2">
                        <div class="d-flex justify-content-between">
                            <h5 class="fs-base mb-2">Bénéfices prévisionnels</h5>
                            <div>
                                <span>{{total_benefices_fidelis_previsionnels}} Fcfa</span>
                            </div>
                        </div>
                    </div>

                    <div class="mt-2">
                        <div class="d-flex justify-content-between">
                            <h5 class="fs-base mb-2">Bénéfices réels</h5>
                            <div>
                                <span>{{total_benefices_fidelis}} Fcfa</span>
                            </div>
                        </div>
                    </div>
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end card-->
        <div class="col-xxl-4">
            <div class="card">
                <div class="card-header justify-content-between align-items-center">
                    <h5 class="card-title text-uppercase text-purple">Statistiques des épargnes sur la période</h5>
                </div>
                <div class="card-body">
                    <div>
                        <div class="d-flex justify-content-between">
                            <h5 class="fs-base mb-2">Nouveaux prêts</h5>
                            <div>
                                <span>{{new_comptes_epargnes}} comptes</span>
                            </div>
                        </div>
                    </div>

                    <div class="mt-2">
                        <div class="d-flex text-success justify-content-between">
                            <h5 class="fs-base mb-2">Dépôts</h5>
                            <div>
                                <span class="text-success">{{total_depots}} Fcfa</span>
                            </div>
                        </div>
                    </div>

                    <div class="mt-2">
                        <div class="d-flex text-danger justify-content-between">
                            <h5 class="fs-base mb-2"> Retraits</h5>
                            <div>
                                <span class="">{{total_retraits}} Fcfa</span>
                            </div>
                        </div>
                    </div>

                    <div class="mt-2">
                        <div class="d-flex justify-content-between">
                            <h5 class="fs-base mb-2">Interêts générés</h5>
                            <div>
                                <span>{{total_interets}} Fcfa</span>
                            </div>
                        </div>
                    </div>
                </div> <!-- end card-body-->
            </div> <!-- end card-->

        </div> <!-- end col-->
    </div><!-- end row-->

</div>


{% endblock %}

{% block scripts %}
<script>
    $('input[name="dates"]').daterangepicker({
            singleDatePicker: false,
            showDropdowns: true,
            locale: {
                format: 'DD/MM/YYYY',
                separator: ' <---> ',
                applyLabel: 'Rechercher',
                cancelLabel: 'Annuler',
                customRangeLabel: 'Choisir les dates',
                linkedCalendars: false,
                weekLabel: 'Sem.',
                daysOfWeek: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
                monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre',
                    'Octobre', 'Novembre', 'Décembre'
                ],
                firstDay: 1
            },
            ranges: {
                'Hier': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Aujourd\'hui': [moment(), moment()],
                'La semaine dernière': [moment().subtract(1, 'week').startOf('week'), moment().subtract(1, 'week')
                    .endOf('week')
                ],
                'Le mois dernier': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month')
                    .endOf('month')
                ],
                'Ce mois-ci': [moment().startOf('month'), moment()],
                'L\'année dernière': [moment().subtract(1, 'year').startOf('year'), moment().subtract(1, 'year')
                    .endOf('year')
                ],
                'Cette année': [moment().startOf('year'), moment()],
            },
            startDate: '{{start}}',
            endDate: '{{end}}',
        },
        function(start, end, label) {
            var startDate = start.format('YYYY-MM-DD');
            var endDate = end.format('YYYY-MM-DD');
            window.location.href = "/tresorerie/rapports/" + startDate + "/" + endDate + "/";
        }
    );
</script>

<script>
    {% include 'TresorApp/rapports.js' %}
</script>
{% endblock %}