{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="page-title-head d-flex align-items-center">
    <div class="flex-grow-1">
        <h4 class="fs-sm text-uppercase fw-bold m-0">{{TITLE_PAGE}}</h4>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header card-tabs d-flex align-items-center">
                    <div class="flex-grow-1">
                        <h4 class="card-title">Statistiques des opérations du {{start}} au {{end}}</h4>
                    </div>
                    <div class="position-relative" style="min-width: 300px;">
                        <div>
                            <div class="input-group">
                                <span class="input-group-text bg-light"><i
                                        class="ti ti-calendar text-muted fs-xl"></i></span>
                                <input type="text" class="form-control" name="dates"
                                    value="{{start|date:"d/m/Y"}} - {{end|date:"d/m/Y"}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div class="row g-0">
                        <div class="col-xxl-12 border-end border-dashed">
                            <div id="orders-chart" style="min-height: 405px;"></div>
                        </div><!-- end col -->
                    </div> <!-- end row-->
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col-->
    </div> <!-- end row-->


    <div class="row">
        <div class="col-xxl-4">
            <div class="card">
                <div class="card-header justify-content-between align-items-center">
                    <h5 class="card-title text-uppercase text-primary">Statistiques des prêts</h5>
                </div>
                <div class="card-body">
                    <div>
                        <div class="d-flex justify-content-between">
                            <h5 class="fs-base mb-2">Nouveaux prêts</h5>
                            <div>
                                <span>{{new_comptes_pret}} prêts</span>
                            </div>
                        </div>
                    </div>

                    <div class="mt-4">
                        <div class="d-flex justify-content-between">
                            <h5 class="fs-base mb-2">Récouvrements / Attendus</h5>
                            <div>
                                <span>{{total_recouvrements}} Fcfa</span>
                                <span><i class="ti ti-circle-filled text-light mx-3 fs-10"></i>
                                    {{total_recouvrements_attempts}} Fcfa</span>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4 ">
                        <div class="d-flex justify-content-between text-danger">
                            <h5 class="fs-base mb-2">Pénalités générés</h5>
                            <div>
                                <span>{{total_penalites}} Fcfa</span>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4">
                        <div class="d-flex justify-content-between">
                            <h5 class="fs-base mb-2">Bénéfices prévisionnels</h5>
                            <div>
                                <span>{{total_beneficies_pret_previsionnels}} Fcfa</span>
                            </div>
                        </div>
                    </div>

                    <div class="mt-4">
                        <div class="d-flex justify-content-between">
                            <h5 class="fs-base mb-2">Bénéfices réels</h5>
                            <div>
                                <span>{{total_beneficies_pret}} Fcfa</span>
                            </div>
                        </div>
                    </div>
                </div> <!-- end card-body-->
            </div> <!-- end card-->
            </div> <!-- end card-->
<div class="col-xxl-4">
            <div class="card">
                <div class="card-header justify-content-between align-items-center">
                    <h5 class="card-title text-uppercase text-success">Statistiques Fidelis</h5>
                </div>
                <div class="card-body">
                    <div>
                        <div class="d-flex justify-content-between">
                            <h5 class="fs-base mb-2">Nouveaux comptes</h5>
                            <div>
                                <span>{{new_comptes_fidelis}} comptes</span>
                            </div>
                        </div>
                    </div>

                    <div class="mt-4">
                        <div class="d-flex justify-content-between">
                            <h5 class="fs-base mb-2">Dépôts / Retraits</h5>
                            <div>
                                <span class="text-success">{{total_depots_fidelis}} Fcfa</span>
                                <span><i class="ti ti-circle-filled text-light mx-3 fs-10"></i> <span
                                        class="text-danger">{{total_retraits_fidelis}} Fcfa</span></span>
                            </div>
                        </div>
                    </div>

                    <div class="mt-4">
                        <div class="d-flex justify-content-between">
                            <h5 class="fs-base mb-2">Bénéfices prévisionnels</h5>
                            <div>
                                <span>{{total_benefices_fidelis_previsionnels}} Fcfa</span>
                            </div>
                        </div>
                    </div>

                    <div class="mt-4">
                        <div class="d-flex justify-content-between">
                            <h5 class="fs-base mb-2">Bénéfices générés</h5>
                            <div>
                                <span>{{total_benefices_fidelis}} Fcfa</span>
                            </div>
                        </div>
                    </div>
                </div> <!-- end card-body-->
            </div> <!-- end card-->
            </div> <!-- end card-->
<div class="col-xxl-4">
            <div class="card">
                <div class="card-header justify-content-between align-items-center">
                    <h5 class="card-title text-uppercase text-purple">Statistiques des épargnes</h5>
                </div>
                <div class="card-body">
                    <div>
                        <div class="d-flex justify-content-between">
                            <h5 class="fs-base mb-2">Nouveaux prêts</h5>
                            <div>
                                <span>{{new_comptes_epargnes}} comptes</span>
                            </div>
                        </div>
                    </div>

                    <div class="mt-4">
                        <div class="d-flex justify-content-between">
                            <h5 class="fs-base mb-2">Dépôts / Retraits</h5>
                            <div>
                                <span class="text-success">{{total_depots}} Fcfa</span>
                                <span><i class="ti ti-circle-filled text-light mx-3 fs-10"></i> <span
                                        class="text-danger">{{total_retraits}} Fcfa</span></span>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4">
                        <div class="d-flex justify-content-between">
                            <h5 class="fs-base mb-2">Interêts générés</h5>
                            <div>
                                <span>{{total_interets}} Fcfa</span>
                            </div>
                        </div>
                    </div>
                </div> <!-- end card-body-->
            </div> <!-- end card-->

        </div> <!-- end col-->
    </div><!-- end row-->

</div>

<div class="modal fade" id="modal-add-compte" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-purple text-white">
                <h1 class="modal-title" id="mySmallModalLabel">Nouveau Compte d'agence</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form method="POST" class="formShamman" classname="CompteAgenceForm">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">Nom du compte <span class="text-danger">*</span></label>
                        <div class="input-group">
                            <span class="input-group-text bg-light"><i class="ti ti-edit text-muted fs-xl"></i></span>
                            <input type="text" class="form-control" name="libelle" placeholder="...." required>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Solde actuel <span class="text-danger">*</span></label>
                        <div class="input-group">
                            <span class="input-group-text bg-light"><i class="ti ti-coins text-muted fs-xl"></i></span>
                            <input type="text" class="form-control number" name="base" placeholder="...." required>
                        </div>
                    </div>

                </div>
                <br>
                <div class="modal-footer d-flex justify-content-between">
                    <input type="hidden" name="agence" value="{{ request.user.agence.id }}">
                    <input type="hidden" name="employe" value="{{ request.user.id }}">
                    <button type="button" class="btn btn-default dim pull-left" data-bs-dismiss="modal">
                        <i class="ti ti-close"></i> Annuler
                    </button>
                    <button type="submit" class="btn btn-purple dim pull-right"> <i class="ti ti-check"></i>
                        Ouvrir le compte </button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="modal-transfert" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-warning text-white">
                <h1 class="modal-title" id="mySmallModalLabel">Nouveau transfert</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form method="POST" class="formShamman" classname="OperationForm">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">Compte à débiter <span class="text-danger">*</span></label>
                        <div class="input-group">
                            <span class="input-group-text bg-light"><i
                                    class="ti ti-calendar text-muted fs-xl"></i></span>
                            <select name="compte_debit" class="form-select form-control my-1 my-md-0" required>
                                {% for compte in comptes %}
                                <option value="{{ compte.id }}">{{ compte.libelle }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Compte à créditer <span class="text-danger">*</span></label>
                        <div class="input-group">
                            <span class="input-group-text bg-light"><i
                                    class="ti ti-calendar text-muted fs-xl"></i></span>
                            <select name="compte_credit" class="form-select form-control my-1 my-md-0" required>
                                {% for compte in comptes %}
                                <option value="{{ compte.id }}">{{ compte.libelle }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Montant à transferer <span class="text-danger">*</span></label>
                        <div class="input-group">
                            <span class="input-group-text bg-light"><i class="ti ti-coins text-muted fs-xl"></i></span>
                            <input type="text" class="form-control number" name="montant" placeholder="...." required>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="userPassword2" class="form-label">Commentaire </label>
                        <div class="input-group">
                            <span class="input-group-text bg-light"><i class="ti ti-edit text-muted fs-xl"></i></span>
                            <textarea class="form-control" name="commentaire" rows="4"
                                placeholder="numero de paiement"></textarea>
                        </div>
                    </div>
                </div>
                <br>
                <div class="modal-footer d-flex justify-content-between">
                    <input type="hidden" name="employe" value="{{ request.user.id }}">
                    <input type="hidden" name="libelle" value="Transfert entre comptes">
                    <button type="button" class="btn btn-default dim pull-left" data-bs-dismiss="modal">
                        <i class="ti ti-close"></i> Annuler
                    </button>
                    <button type="submit" class="btn btn-warning dim pull-right"> <i class="ti ti-check"></i>
                        Ouvrir le compte </button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}

{% block scripts %}
<script>
    $('input[name="dates"]').daterangepicker({
            singleDatePicker: false,
            showDropdowns: true,
            locale: {
                format: 'DD/MM/YYYY',
                separator: ' <---> ',
                applyLabel: 'Rechercher',
                cancelLabel: 'Annuler',
                customRangeLabel: 'Choisir les dates',
                linkedCalendars: false,
                weekLabel: 'Sem.',
                daysOfWeek: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
                monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre',
                    'Octobre', 'Novembre', 'Décembre'
                ],
                firstDay: 1
            },
            ranges: {
                'Hier': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Aujourd\'hui': [moment(), moment()],
                'La semaine dernière': [moment().subtract(1, 'week').startOf('week'), moment().subtract(1, 'week')
                    .endOf('week')
                ],
                'Le mois dernier': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month')
                    .endOf('month')
                ],
                'Ce mois-ci': [moment().startOf('month'), moment()],
                'L\'année dernière': [moment().subtract(1, 'year').startOf('year'), moment().subtract(1, 'year')
                    .endOf('year')
                ],
                'Cette année': [moment().startOf('year'), moment()],
            },
            startDate: '{{start}}',
            endDate: '{{end}}',
        },
        function(start, end, label) {
            var startDate = start.format('YYYY-MM-DD');
            var endDate = end.format('YYYY-MM-DD');
            window.location.href = "/tresorerie/rapports/" + startDate + "/" + endDate + "/";
        }
    );
</script>

<script>
    {% include 'TresorApp/rapports.js' %}
</script>
{% endblock %}